# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# My files
xep128
xep128.exe
sdcard.img
combined.rom
www
xep128-*.zip
buildinfo.c
xep_rom.lst
xep_rom_syms.h
screenshot*.png
.depend.*
.arch
arch/objs.*
.*.swp
wiki
*.img
*.bak
.git-commit-info*
todo
*.deb
