/TRAVIS-TEST
/xep128
/xep128.osx
/*.exe
/*.dll
/sdcard.img
/combined.rom
/www
/xep128-*.zip
/buildinfo.c
/screenshot*.png
.*.swp
/wiki
/gh-pages
/*.img
/.git-commit-info*
/todo
/*.deb
/xep128.data
/xep128.html
/xep128.html.mem
/xep128.js
/xep128-custom.html
